:root {
    --color-primary: #03001c;
    --color-primary-light: #353349;

    --color-cyan-light: #22d3ee;
    --color-cyan-lighten: #64e0f3;
    --color-cyan-dark: #0a3f47;

    --color-text-primary: #13605b;
}

/* CSS Reset */
*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Box Product Custom Loader */
.custom_loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #54f4f397;
    position: relative;
    animation: s4 1s infinite linear;
}
.custom_loader:before,
.custom_loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}
.custom_loader:after {
    animation-duration: 4s;
}

@keyframes s4 {
    100% {
        transform: rotate(1turn);
    }
}
